
{% extends "userside/base.html" %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}


 
 
  <div id="page" class="hfeed page-wrapper">
    <header id="site-header" class="site-header header-v1 absolute">
      <div class="header-mobile">
        <div class="section-padding">
          <div class="section-container">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
                <div class="navbar-header">
                  <button type="button" id="show-megamenu" class="navbar-toggle"></button>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
                <div class="site-logo">
                  <a href="index.html">
                    <img width="400" height="79" src="{% static 'media/DECORE' %}.png"
                      alt="Ruper – Furniture HTML Theme" />
                  </a>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-right">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12 header-right">
          
          <div class="header-page-link">
            <!-- Login -->
          <center>  
            <div class="login-header">
                <a class="active-login" href="#">Login</a>
                <div class="form-login-register">
                    <div class="box-form-login">
                        <div class="active-login"></div>
                        <div class="box-content">
                            <div class="form-login active">
                                <form id="login_ajax" method="post" class="login">
                                    <h2>Sign in</h2>
                                    <p class="status"></p>
                                    <div class="content">
                                        <div class="username">
                                            <input type="text" required="required" class="input-text" name="username" id="username" placeholder="Your name" />
                                        </div>
                                        <div class="password">
                                            <input class="input-text" required="required" type="password" name="password" id="password" placeholder="Password" />
                                        </div>
                                        <div class="rememberme-lost">
                                            <div class="rememberme">
                                                <input name="rememberme" type="checkbox" id="rememberme" value="forever" />
                                                <label for="rememberme" class="inline">Remember me</label>
                                            </div>
                                            <div class="lost_password">
                                                <a href="forgot-password.html">Lost your password?</a>
                                            </div>
                                        </div>
                                        <div class="button-login">
                                            <input type="submit" class="button" name="login" value="Login" />
                                        </div>
                                        <div class="button-next-reregister">Create An Account</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </center>
            <!-- Search -->
            

            <!-- Cart -->
            
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>
  </div>
  </header>
  <div id="site-main" class="site-main">
    <div id="main-content" class="main-content">
        <div id="primary" class="content-area">
            <div id="title" class="page-title">
                <div class="section-container">
                    <div class="content-title-heading">
                        <h1 class="text-title-heading">
                            Forgot Password
                        </h1>
                    </div>
                    <div class="breadcrumbs">
                        <a href="home.html">Home</a><span class="delimiter"></span>Forgot Password
                    </div>
                </div>
            </div>
            <center>
                <div id="content" class="site-content" role="main">
                    <div class="section-padding">
                        <div class="section-container p-l-r">
                            <div class="page-login-register">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 sm-m-b-50">
                                        <center>
                                            <div class="box-form-login">
                                                <h2>Forgot Password</h2>
                                                <div class="box-content">
                                                    <div class="form-login">
                                                        {% if messages %}
                                                            {% for message in messages %}
                                                                <p style="color: red;">{{ message }}</p>
                                                            {% endfor %}
                                                        {% endif %}
                                                        <form method="post" class="login" action="{% url 'password_reset' %}">
                                                            {% csrf_token %}
                                                            <div class="username">
                                                                <label>Email <span class="required">*</span></label>
                                                                <input type="email" class="input-text" name="email" id="email">
                                                            </div>
                                                            <div class="button-login">
                                                                <input type="submit" class="button" name="reset" value="Reset Password">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div><!-- #primary -->
    </div><!-- #main-content -->
</div>

  </center>
  <footer id="site-footer" class="site-footer background">
    <div class="footer">
      <div class="section-padding">
        <div class="section-container">
          <div class="block-widget-wrap">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="block block-menu m-b-20">
                  <h2 class="block-title">Contact Us</h2>
                  <div class="block-content">
                    <ul>
                      <li>
                        <a href="page-contact.html">616.774.0561</a>
                      </li>
                      <li>
                        <a href="page-contact.html">866.453.4748</a>
                      </li>
                      <li>
                        <a href="page-contact.html">HR Fax: 810.222.5439</a>
                      </li>
                      <li>
                        <a href="page-contact.html">sales@ruperfurniture.com</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="block block-social">
                  <ul class="social-link">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="block block-menu">
                  <h2 class="block-title">Showroom</h2>
                  <div class="block-content">
                    <p>1000 84th Street SW , Byron Center, MI 49315</p>
                    <p>AmericasMart Bldg. #1</p>
                    <p>Suite 5C-1, Atlanta, GA 30303</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="block block-menu">
                  <h2 class="block-title">Services</h2>
                  <div class="block-content">
                    <ul>
                      <li>
                        <a href="page-about.html">Sale</a>
                      </li>
                      <li>
                        <a href="page-about.html">Quick Ship</a>
                      </li>
                      <li>
                        <a href="page-about.html">New Designs</a>
                      </li>
                      <li>
                        <a href="page-about.html">Accidental Fabric Protection</a>
                      </li>
                      <li>
                        <a href="page-about.html">Furniture Care</a>
                      </li>
                      <li>
                        <a href="page-about.html">Gift Cards</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="block block-newsletter">
                  <h2 class="block-title">Newsletter</h2>
                  <div class="block-content">
                    <div class="newsletter-text">Enter your email below to be the first to know about new collections
                      and product launches.</div>
                    <form action="#" method="post" class="newsletter-form">
                      <input type="email" class="bg-white" name="your-email" value="" size="40"
                        placeholder="Email address">
                      <span class="btn-submit">
                        <input type="submit" value="Subscribe">
                      </span>
                    </form>
                  </div>
                </div>
                <div class="block block-image">
                  <img width="309" height="32" src="{% static 'media/payments.jpg' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="section-padding">
        <div class="section-container">
          <div class="block-widget-wrap">
            <p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </div>

  <!-- Back Top button -->
  <div class="back-top button-show">
    <i class="arrow_carrot-up"></i>
  </div>

  <!-- Search -->
  
  <!-- Wishlist -->
  

  <!-- Compare -->
  
  <!-- Quickview -->
  

  <!-- Page Loader -->
  <div class="page-preloader">
    <div class="loader">
      <div></div>
      <div></div>
    </div>
  </div>

  <!-- Dependency Scripts -->
  <script src="{% static 'libs/popper/js/popper.min.js' %}"></script>
  <script src="{% static 'libs/jquery/js/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'libs/slick/js/slick.min.js' %}"></script>
  <script src="{% static 'libs/countdown/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'libs/mmenu/js/jquery.mmenu.all.min.js' %}"></script>

  <!-- Site Scripts -->
  <script src="{% static 'assets/js/app' %}.js"></script>
</body>

<!-- Mirrored from caketheme.com/html/ruper/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jul 2023 09:39:08 GMT -->

</html>

{% endblock content %}