{% extends 'admindashboard/baseforadmin.html' %}
{% block title %}Add Product{% endblock %}
{% load static %}
{% block content %}

<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
                <div>
                    <a href="#">
                    <button class="btn btn-md rounded font-sm hover-up">All Products</button>
                    </a>
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
               

                <div class="card-body">
                    <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <h6>1. General info</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" name="product_name" class="form-control" required>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control" rows="4" required></textarea>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Product Image 1</label>
                                <input type="file" name="product_image_1"  class="form-control" required>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>2. Pricing</h6>
                        </div>
                        
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Cost in RUPEES</label>
                                <input type="text" placeholder="&#8377; 00.0" name="price" class="form-control" pattern="[0-9]+(\.[0-9]+)?" max="999999.99" required>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">

                    <div class="row">
                        <div class="col-md-3">
                            <h6>Select Offer</h6>
                        </div>
                        
                        <div class="col-md-9">
                            <div class="mb-4">
                                <select name="selected_offer" class="form-control">
                                    <option value="">Select an Offer</option>
                                    {% for offer in offers %}
                                    <option value="">{{offer.title}}</option>
                                    {% endfor %}
                                    <!-- Add more offers as needed -->
                                </select>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">

                    <div class="row">
                        <div class="col-md-3">
                            <h6>3. Stock</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Quantity</label>
                                <input type="text" placeholder="Quantity" name="stock" class="form-control" pattern="[0-9]+" required>
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">

                    <div class="row">
                        <div class="col-md-3">
                            <h6>3. Category</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4"> 
                                 {% for category in categories %}
                                <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                    <input class="form-check-input" checked="" value="{{ category.id }}" name="category" type="radio" required>
                                    <span class="form-check-label">{{category.category_name}}</span>
                                </label>
                                {% endfor %} 
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">
                    <div>
                        <button class="btn btn-md rounded font-sm hover-up" type="submit">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section> <!-- content-main end// -->



{%endblock%}