{% extends 'admindashboard/baseforadmin.html' %}

{% block content %}
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Offer</h2>
                        <div>
                            <a href="">
                            <button class="btn btn-md rounded font-sm hover-up">Back</button>
                            </a>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                       

                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Offer Name</label>
                                        <input type="text" placeholder="Type here" name="offer_name" class="form-control" required>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Discount percentage</label>
                                        <input type="number" placeholder="Type here" name="discount_percentage" class="form-control" step="0.01" required>
                                    </div>
                                    
                                    <div class="mb-4">
                                        <label class="form-label">Start date</label>
                                        <input type="date" class="form-control" name="start_date" required/>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">End date</label>
                                        <input type="date" class="form-control" name="end_date" required/>
                                    </div>
                        
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            
                            <hr class="mb-4 mt-0">
                            <div>
                                <button class="btn btn-md rounded font-sm hover-up" type="submit">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- content-main end// -->
{% endblock %}